#gh-tooltip
{
  border-radius: 5px;
  display: block;
  z-index: 9999999;
  min-width: 200px;
  border: 2px solid black;
  position: absolute;
  background-color: #fefefe;
  padding: 5px;

  font-style: normal;
  font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  line-height: 1;
}

#gh-tooltip h3 {
  margin: 5px 5px;
  text-align: center;
}
#gh-tooltip .info {
  border-radius: 2px;
  padding: 5px;
  /* border: 1px solid #ccc; */
  line-height: 2.3em;
}

#gh-tooltip .icon {
  background-size: 16px;
  background-position: left 3px top 8px;
  background-repeat: no-repeat;
  padding-left: 20px;
}

#gh-tooltip .star {
  background-image: url('../images/star.svg');
}

#gh-tooltip .fork {
  background-size: 12px;
  background-position: left 3px top 7px;
  background-image: url('../images/fork.svg');
}

.gh-loading{
  width: 200px;
  height: 200px;
  background-image: url('../images/loading.gif');
  background-size: 200px;
  background-position: center;
  background-repeat: no-repeat;
}

.gh-github-link {
  background-image: url('../images/github.svg');
  background-size: 16px;
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 20px;
}
